<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
  <test thread-count="5" name="Testing on chrome">
	  <parameter name="Browser" value="chrome"></parameter>
    <classes>

	 <class name="Learning.Automation_Maven.LogintoAmazonSearch_category"/>
      
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->


